@charset "utf-8";

/*
   
   Author:   
   Date:     
   
   Filename: sf_styles1.css
   
   This file contains the layout styles used in the sheepfarms consultants
   home page.

*/

/* ===========
   Base Styles
   ===========
*/


/* HTML and Body Styles */
* {
   box-sizing: border-box;
 }
 
 
html {
   background: url(tf_back1.png) center center / cover no-repeat fixed;
   height: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
   background: rgb(134, 176, 232);   
   box-shadow: rgb(51, 51, 51) 5px 0px 15px,
               rgb(51, 51, 51) -5px 0px 15px;
   margin: auto;
   min-height: 100%;
   min-width: 320px;
   max-width: max-content;   
}

/* Body Header Styles */

body header {
   background: rgb(134,176,232);   
}

body header img {
   display: block;
   max-width: 100%;
}

/* Horizonal Navigation Styles */

nav.horizontal {
   background-color: rgb(228, 237, 228);
   min-height: 2em;
   max-height: 125px;
   display:flex;
   justify-content: space-around;
   align-items: center;
  
}


nav.horizontal li {
   /*color: rgb(31, 73, 125);*/
    color: rgb(94, 95, 94);
   display: inline-block;
   line-height: 2em;
   text-transform: uppercase;
   
}

nav.horizontal a {
   display: block;
   font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
   /*color: rgb(31, 73, 125);*/
  /* color: orange;*/
   color: rgb(94, 95, 94);
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: rgb(94, 95, 94);
   color: orange;
   width: auto;
}



/* Vertical Navigation Styles */
/*
nav.vertical {
    background-color: rgb(249, 250, 249);
    min-height: 2em;
    display:flex;
    justify-content: space-around;
    align-items: center;
 }
 */
 
nav.vertical ul {
    margin-left: 1em;
    line-height: 2em;
   
 }

 /*
 nav.vertical li {
    color: rgb(31, 73, 125);
    display: block;
    line-height: 2em;
    text-transform: uppercase;
 }*/
 /*
 nav.vertical a {
    display: block;
    font-size: 1em;
 }
 */
 nav.vertical a:visited, 
 nav.vertical a:link {
    color: rgb(94, 95, 94);
 }
 
 nav.vertical a:hover, 
 nav.vertical a:active {
    /*background-color: rgb(94, 95, 94);*/
    color:  rgb(249, 250, 249);
    text-decoration: underline;
 }
 
 
 
/* Contact Info Styles */

section#contactInfo p {
    line-height: 1.4em;
    margin: 1em;
 }   

/* Main Menu Styles */

ul.mainmenu {
   display: block;
}

ul.mainmenu > li {
   padding-left: 5px;
   padding-right: 5px;
}

/*ul.mainmenu > li:first-of-type a {
   color: white;
   background-color: rgb(31, 73, 125);
}*/


.sheepy-icon {
    height: 200px;
    padding-top: 10px;
}


.sheep1-img {
   float: left;
   max-height: 100%;
   max-width: 40%;
   padding-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
}

/* Submenu Styles */

ul.submenu {
   width: auto;
   background-color: rgb(177, 179, 174);
   display: none;
}

 a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
   padding-left: 10px;
   padding-right: 10px; 
   display:flex;
    position: relative;
    flex-direction: column;
    position: absolute;
    z-index: 1;
 }

/* Section Styles */

section {
   background-color: rgb(207, 222, 172);
   clear: both;
}

section::after {
   content: "";
   display: table;
   clear: both;
}

section img {
   display: block;
   width: 100%;
}

section p {
   line-height: 1.4em;
   padding: 10px;
   font-size: 1.2em;
}

/* Aside Styles */

aside {
   display: block;
   background-color: rgb(181, 204, 136);
}

/* Footer Styles */


body > footer {
   background-color: rgb(177, 179, 174);
  /* font-size: 0.9em;
   text-align: center;
   padding: 10px 0px;*/
   font-size: .8em;
   color:
   /* rgb(186, 186, 156);*/
   rgb(249, 250, 249);
}
body > footer h1 {
    background-color: rgb(177, 179, 174);
    font-size: .9em;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 1em 0 0.5em 1em;
 }

/* Footer Styles */

footer {
    background-color: rgba(128, 128, 128, 0.986);
    clear: left;
    font-size: 0.7em;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}

footer > nav.vertical {
    float: left;
    width: 22%;
}

footer > section#contactInfo {
    float: left;
    width: 25%;
    
}
/* Pulldown Menu Styles */




/* New Styles Added Below */



/* mobile styles 0px to 480px */
@media only screen and (max-width: 480px) {

}

/* tablet styles 481px and greater*/

@media only screen and (min-width: 481px) {
    
}


/* desktop styles 769px and greater*/

@media only screen and (min-width: 769px) {
    
}




/* New Styles Added Below */


/* Create three unequal columns that floats next to each other */
.column {
   float: left;
   padding: 10px;
 }
 
 /* Left and right column */
 .column.side {
   width: 20%;
 }
 
 /* Middle column */
 .column.middle {
   width: 50%;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .column.side, .column.middle {
     width: 100%;
   }
}
