@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    font-family: verdana;
    color: #777;
}

.main-header {
    color: white;
    font-family: righteous, cursive;
    font-size: 300%;
    background-color: black;
  }

  .content-section-container {
    background-color: green;
    color: white;

  }

  .site-links { 
    background-color: white;

  }

  .external-links {
    background-color: white;

  }